/* .App {
  text-align: center;
  filter: blur(30px);
} */

@font-face {
  font-family: blankRiver;
  src: url("fonts/Blank\ River.ttf");
}

.main {
  /* background-color: #282c34; */
  /* background-image: url("img/background_wals_white_generated.jpg"); */
  /* background-size: auto; */
  /* min-height: 100vh; */
  /* font-family: urbanHeroes; */
  /* height: 100vh;
  width: 100vw; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; */
  /* font-size: 16px; */
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
  /* filter: blur(1px); */
  /* flex: 1; */
}
